<div class="search">
  <input type="text"
         name="search"
         [value]="searchText"
         (input)="onSearch(search.value)"
         placeholder="Search By Typing..."
         #search />
</div>
<div class="filters">
  Sort by
  <button (click)="onSortChange('date')">Date <span *ngIf="sortProperty === 'date'" [innerHTML]="icon"></span></button>
  <button (click)="onSortChange('beneficiary')">Beneficiary <span *ngIf="sortProperty === 'beneficiary'" [innerHTML]="icon"></span></button>
  <button (click)="onSortChange('amount')">Amount <span *ngIf="sortProperty === 'amount'" [innerHTML]="icon"></span></button>
</div>