@import '../../../global';

.search {
  flex: .4;

  & input {
    text-indent: 10px;
  }
}

.filters {
  flex: .6;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  & button {
    padding: 6px 20px;
    text-transform: uppercase;
    border-radius: 0;
    font-size: 12px;
    outline: none;
    border: 1px solid grey;
    cursor: pointer;
    margin-left: -1px;

    &:first-of-type {
      margin-left: 10px;
    }

    & > span {
      color: $mediumGray;
    }
  }
}
