@import '../../../../global';

.card {
  background: $softWhite;
  box-shadow: 0px 0px 5px #111;

  & > div.card-title {
    background-color: $headerBlue;
    color: $softWhite;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: $mediumPadding;

    & > span.title-text {
      margin-right: 24px;
      text-align: center;
      width: 100%;
    }
 }

 & > div.card-content {
    padding: $largePadding $mediumPadding;
 }
}