<app-card title="Transfer"
          icon="arrows">

  <label for="fromAccount">FROM ACCOUNT</label>
  <select name="fromAccount"
          id="fromAccount"
          disabled>
    <option value="4652">Free Checking(4652) - {{accountBalance | currency:accountCurrency}}</option>
  </select>

  <label for="toAccount">TO ACCOUNT</label>
  <select name="toAccount"
          id="toAccount">
    <option *ngFor="let merchant of recentMerchants" [value]="merchant">{{merchant}}</option>
  </select>

  <div class="add-on-currency"
       [attr.data-currency-symbol]="accountCurrency | currencySymbol">
    <label for="amount">AMOUNT</label>
    <input type="number"
           id="amount"
           name="amount"
           [placeholder]="0 | currency:accountCurrency:noCurrencySymbol" />
  </div>

  <div class="submit-container">
    <input type="submit"
           value="Submit">
  </div>
</app-card>