<div class="toolbar"
     role="banner">
  <div class="logo">
    <img alt="client logo"
         src="../assets/logo.jpg" />
  </div>
</div>

<div class="content"
     role="main">
  <app-transfer 
                [accountNumber]="account.accountNumber"
                [accountCurrency]="account.accountCurrency"
                [accountBalance]="account.accountBalance"
                [recentMerchants]="account.recentMerchants"
                (addTransaction)="handleAddTransaction($event)"></app-transfer>
  <app-transactions [transactions]="account.accountTransactions"
                    (transactionChange)="handleTransactionsChange($event)"></app-transactions>
</div>