/* variables */
$peachtreeOrange: #e87325;
$headerBlue:  #0c8397;
$softWhite: #eee;
$mediumGray: #a2a09c;

$smallFont: 10px;
$mediumFont: 14px;

$mediumMargin: 10px;
$largeMargin: 20px;
$mediumPadding: 10px;
$largePadding: 20px;

/* mixins */
@mixin contentLayout {
  margin: 0 auto;
  max-width: 1024px;
}

@mixin buttonStyle {
  border: none;
  border-radius: 4px;
  color: $softWhite;
  cursor: pointer;
  margin: $largeMargin $mediumMargin;
  min-width: 150px;
  padding: $mediumPadding $largePadding;
  text-transform: uppercase;
}