@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&display=swap');
@import './reset';
@import './global';

body {
  background-image: url('./assets/background.jpg');
  background-size: cover;
  font-family: Kanit, sans-serif;
  font-weight: 200;
  margin: 0;
}

input:not([type='submit']), select {
  border: none;
  border-bottom: 1px solid $mediumGray;
  background: transparent;
  color: $mediumGray;
  font-family: inherit;
  width: 100%;
  margin: 10px 0;
  padding-bottom: 4px;
}

div.add-on-currency {
  position: relative;

  &::after {
    content: attr(data-currency-symbol);
    color: $mediumGray;
    position: absolute;
    left: 0;
    top: 27px;
  }

  & > input {
    text-indent: 14px;
  }
}

label {
  display: block;
  font-family: inherit;
  font-weight: 600;
  font-size: $mediumFont;
  margin-top: $mediumMargin;
}

input[type='submit'], button {
  @include buttonStyle;
  
  &.primary {
    background-color: $peachtreeOrange;
    border: 2px solid $peachtreeOrange;
  }

  &.secondary {
    background-color: $softWhite;
    color: #444;
    border: 2px solid $mediumGray;
  }
}

app-confirm-modal {
  display: none;

  .confirm-modal {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      /* z-index must be higher than .jw-modal-background */
      z-index: 1000;

      .card-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 350px;
        min-width: 500px;

        .strong {
          font-weight: 400;
          margin: 20px 0;
        }

        .money {
          color:#3cd371;
        }

        .actions {
          margin-top: 60px;
        }
      }
  }

  .confirm-modal-background {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      background-color: #ccc;
      opacity: 0.75;
      
      z-index: 900;
  }
}

body.modal-open {
  overflow: hidden;
}